node_modules
.env
# dependencies
node_modules/

# environment variables
.env
.env.*

# logs
logs
*.log
npm-debug.log*

# build folders
build/
dist/

# uploads
uploads/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/